importClassesFrom(Biobase, eSet, NChannelSet, VersionedBiobase, Versioned)
importClassesFrom(oligoClasses, TilingFeatureSet)

import(oligo)
importFrom(preprocessCore, normalize.quantiles)
importFrom(Biostrings, DNAString, DNAStringSet, alphabetFrequency, unmasked, vcountPattern)
importFrom(IRanges, narrow, width, Views)
importFrom(siggenes, pi0.est, qvalue.cal)
importFrom(gtools, combinations)

export(bgAdjustBgp, countGC, cpgdensity, dmrFdr, dmrFinder, getControlIndex, methPercent, methp, normalizeBetweenSamples, normalizeWithinSamples, plotDensity, qcReport, readCharm, spatialAdjust, validatePd)
